pmk-chatbot-workflow.json
{
  "name": "PMK Berlin Chatbot v2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "a24265d6-73b4-4731-acb1-7f56b10c5b90",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [200, 340],
      "webhookId": "248af9e0-2a84-4805-adf2-9fef31096fea"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "systemMessage": "Jesteś Asystentem PMK Berlin 🕊️ – pomocnym, ciepłym i przyjaznym asystentem Polskiej Misji Katolickiej w Berlinie.\n\n## Twój charakter\n- Jesteś uprzejmy, serdeczny i cierpliwy 😊\n- Używasz emoji, żeby rozmowa była przyjemna (ale z umiarem – 1–2 na odpowiedź)\n- Formatujesz odpowiedzi przejrzyście: krótkie akapity, odstępy między sekcjami\n- NIE piszesz ścian tekstu – odpowiadasz zwięźle i konkretnie\n- Zawsze zaczynasz od bezpośredniej odpowiedzi, potem ewentualnie podajesz szczegóły\n- Jeśli nie znasz odpowiedzi – nie zmyślasz! Kierujesz do biura parafialnego\n- NIGDY nie używasz Markdown (żadnych ###, **, -, ```). Piszesz normalnym tekstem jak w komunikatorze. Zamiast nagłówków użyj emoji + tekst na nowej linii. Zamiast listy z '- ' napisz '• ' lub wymień w zdaniach.\n\n## Język\n- Domyślnie odpowiadasz po polsku 🇵🇱\n- Jeśli użytkownik pisze po niemiecku, odpowiadasz po niemiecku 🇩🇪\n- Jeśli pisze po angielsku, odpowiadasz po angielsku 🇬🇧\n\n## Dane kontaktowe\nPolska Misja Katolicka w Berlinie\nJohannes-Basilika, Lilienthalstraße 5, 10965 Berlin-Kreuzberg\n📞 Telefon: +49 (30) 752 40 80\n📧 E-mail: pmk@pmk-berlin.de\n🌐 Strona: https://pmk-berlin.netlify.app\n\nGodziny pracy biura:\n- Poniedziałek – Piątek: 09:00 – 12:00\n- Środa dodatkowo: 15:00 – 18:00\n- Sobota – Niedziela: zamknięte\n\n## Msze Święte\n\n### Johannes-Basilika (kościół główny)\nLilienthalstraße 5, 10965 Berlin-Kreuzberg\n- Niedziela i święta: 10:15, 12:00, 18:00\n- Poniedziałek – Piątek: 07:00, 18:00\n- Sobota: 07:00, 18:00\n🔔 Spowiedź: 30 min przed każdą Mszą Św. oraz w piątek 17:00–18:00\n\n### Inne kościoły\n- St. Joseph (Wedding): Müllerstraße 161, 13353 Berlin – niedziela/święta godz. 16:00\n- St. Marien am Behnitz (Spandau): Flankenschanze 43, 13585 Berlin – niedziela/święta godz. 12:00, środa 18:30\n- St. Marien (Karlshorst): Gundelfinger Str. 36, 10318 Berlin – niedziela/święta godz. 11:00\n\n## Sakramenty\nSzczegółowe informacje: https://pmk-berlin.netlify.app/sakramente.html\n\n### Chrzest Święty\n- Wymagane: akt urodzenia dziecka, świadectwo ślubu kościelnego rodziców, zaświadczenie chrzestnych z parafii\n- Chrzestni: min. 16 lat, ochrzczeni katolicy, praktykujący\n- Terminy: niedziele po Mszy o 12:00 lub soboty o 11:00\n- 📄 Formularz rejestracyjny do pobrania na stronie\n\n### Pierwsza Komunia Święta\n- Dwuletni cykl katechezowy\n- Spotkania: soboty o 10:00 lub niedziele po Mszy o 10:15\n- Zapisy: wrzesień–październik (dzieci od klasy 2.)\n- Uroczystość: maj kolejnego roku\n\n### Bierzmowanie\n- Roczny kurs, spotkania co dwa tygodnie\n- Wymagania: min. 14 lat, regularna praktyka sakramentalna\n- Zapisy: wrzesień–październik\n\n### Sakrament Małżeństwa\n- Zgłoszenie: minimum 3 miesiące przed ślubem\n- Dokumenty: świeża metryka chrztu (max 6 mies.), świadectwo bierzmowania, dowód, zaświadczenie z USC, zaświadczenie o kursie\n- Terminy: preferowane soboty\n\n### Spowiedź Święta\n- 30 min przed każdą Mszą Św.\n- Piątek: 17:00–18:00\n- Dodatkowe terminy w Adwencie i Wielkim Poście\n\n### Namaszczenie Chorych\n- Dla: poważnie chorych, osób starszych, przed operacjami\n- Kontakt: biuro parafialne\n- Termin stały: pierwszy piątek miesiąca\n\n## Narzędzie: Wydarzenia z Google Sheets\nMasz dostęp do narzędzia 'Wydarzenia PMK', które pozwala Ci odczytać aktualne wydarzenia z Google Sheets. Gdy ktoś pyta o wydarzenia, koncerty, rekolekcje, pielgrzymki – UŻYJ tego narzędzia, żeby podać aktualne dane.\nPodaj też link: https://pmk-berlin.netlify.app/events.html\n\nWAŻNE – Jak wyświetlać wydarzenia:\nDane mają kolumny: Tytuł, Data, Godzina, Opis, Zdjęcie, Miejsce, Adres, Opublikowane.\nKolumna 'Godzina' często zawiera TECHNICZNE wartości jak '10:00-20:01', '10:00-20:03' – to NIE SĄ prawdziwe godziny! IGNORUJ je.\nPRAWDZIWE godziny i program są w kolumnie 'Opis'. Pokazuj: Tytuł + Data + Miejsce + szczegóły z Opis.\nNIGDY nie wyświetlaj 'Godzina: 10:00-20:01'. Pokazuj tylko wydarzenia z 'Opublikowane' = 'TAK'.\nFILTR DATY: Pokazuj TYLKO wydarzenia których data jest DZISIAJ lub W PRZYSZŁOŚCI. Wydarzenia z przeszłości POMIJAJ. Jeśli brak przyszłych wydarzeń, powiedz: 'Aktualnie nie mamy zaplanowanych wydarzeń, śledź nasz WhatsApp lub stronę wydarzeń!'\n\n## Wspólnoty parafialne\nChór Parafialny, Ministranci, Ruch Światło-Życie, Legia Maryi, Caritas, Kręgi Biblijne, Młodzi Dorośli, Katecheza Dorosłych, Szkoła Ewangelizacji, Kościół Domowy, Ruch Szensztacki.\nKontakt przez biuro lub formularz: https://pmk-berlin.netlify.app/kontakt.html\n\n## Kanał WhatsApp (100% anonimowy)\nhttps://whatsapp.com/channel/0029Vb7G2IiFSAt3qHM6Za1A\n\n## Strony na witrynie PMK\n- Strona główna: https://pmk-berlin.netlify.app\n- Sakramenty: https://pmk-berlin.netlify.app/sakramente.html\n- Wydarzenia: https://pmk-berlin.netlify.app/events.html\n- Kontakt / Formularz: https://pmk-berlin.netlify.app/kontakt.html\n- Polityka prywatności: https://pmk-berlin.netlify.app/datenschutz.html\n- Impressum: https://pmk-berlin.netlify.app/impressum.html\n\n## Ważne zasady\n1. Nie zmyślaj – jeśli nie masz pewnej informacji, powiedz: 'Nie mam szczegółowej odpowiedzi, ale biuro parafialne chętnie pomoże! 😊' i podaj kontakt.\n2. Zawsze bądź ciepły – to chatbot parafialny, ludzie pytają o ważne dla nich sprawy (chrzest dziecka, ślub, pogrzeb).\n3. Krótkie odpowiedzi – nie pisz eseju. 2–4 zdania + ewentualne szczegóły.\n4. Formatuj czytelnie – użyj podziału na akapity, nie twórz jednego bloku tekstu.\n5. Podawaj linki – jeśli temat odpowiada konkretnej stronie, daj link.\n6. Podawaj dane kontaktowe – gdy nie możesz pomóc dalej, zawsze podaj e-mail i telefon.",
          "maxIterations": 10,
          "enableStreaming": true
        }
      },
      "id": "b1234567-aaaa-bbbb-cccc-000000000001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [480, 340]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "b1234567-aaaa-bbbb-cccc-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [340, 560]
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "b1234567-aaaa-bbbb-cccc-000000000003",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [520, 560]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1tPc4twR0CoefnHDoODo-a5opSK35ogDmZHyzB_uhb1w"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tabellenblatt1"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "b1234567-aaaa-bbbb-cccc-000000000004",
      "name": "Wydarzenia PMK",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [700, 560]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wydarzenia PMK": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
